[Desktop Entry]
Type=Application
Name=metapak
Comment=Unified Arch Linux Package Manager
Exec=metapak
Icon=utilities-terminal
Terminal=true
Categories=System;TerminalEmulator;Filesystem;
Keywords=arch;pacman;aur;package;manager;
